.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .modal-content {
    background: white;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
    padding-inline: 2rem;
    padding-bottom: 2rem;
  }

  .modal-close {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .modal-title{
    font-size: 24px;
    font-weight: bolder;
    color: #737874 !important;
  }
  .modal-header {
     display:flex;
     justify-content: space-between;
  }
