.header {
    position: sticky;
    top: 0;
    background: #ffffff;
    border-bottom: 1px solid #eee;
    padding: 20px 30px;
    z-index: 1000;
    background-color: #737874;
    color: #ffffff;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-left .nav-item {
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
     font-weight: bolder;
  }
  .nav-right {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
  }
  .avatar {
    background-color: #0C7277;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    margin-right: 10px;
  }
  .user-info {
     display:flex;
     align-items: center;
  }
  .user-info-details {
      margin-inline: 40px;
      display: flex;
      align-items: center;
  }
  .user-info-icon {
     width: 40px;
     height: 40px;
     border-radius: 50%;
  }
  .logout-icon {
     width: 30px;
     height: 30px;
     border-radius: 50%;
  }